:root{
    font-size: 16px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    font-size: 1.3rem;

    background-color: #36454f;
    /* background-color: #fff; */
    color: #ffffff;
    /* color: #f0fff0; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    background-color: #008080;
    height: 5rem;
    text-align: center;
    align-content: center;
    /* box-shadow: #ff0000 10 10 10 ; */
    box-shadow: 0px 0px 7px #000000;
}

a,a:visited{
    color: #f0fff0;
}

a:hover{
    color: #f0fff0b7;
}
a:active{
    color: #f0fff082;
}

ul{
    list-style: none;
}
ul li{
    padding: 1rem 1rem 0rem 1rem ;
    
}

ul li:last-child{
    padding-bottom: 1rem;
}

main{
    margin-left: min(10%,5rem);
    margin-right: min(10%,5rem);
}

.description{
    margin-top: 4rem;
}

#navigation{
    margin-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: #000000 solid 2px;
    border-radius: 5px;
    padding-bottom: 0.8rem;
}

footer{
    margin: 5rem 1rem 1rem 1rem ;
}