:root{
    font-size: 16px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    
}

body{
    font-size: 1.3rem;
    background-color: #36454f;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    background-color: #008080;
    height: 5rem;
    text-align: center;
    align-content: center;
    box-shadow: 0px 0px 7px #000000;
}

h3{
    padding: 4rem 0rem 0.5rem 0rem;
}

a,a:visited{
    color: #ffffff;
    text-decoration: none;
}

a:hover{
    color: #ffffffb7;
}
a:active{
    color: #ffffff82;
}

ul{
    list-style: none;
}
ul li{
    padding: 1rem 1rem 0rem 1rem ;
    
}

ul li:last-child{
    padding-bottom: 1rem;
}


main{
    margin-left: min(10%,5rem);
    margin-right: min(10%,5rem);
}

.description{
    margin-top: 4rem;
}

#navigation{
    margin-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: #000000 solid 2px;
    border-radius: 5px;
    padding-bottom: 0.8rem;
}

#home_btn{
    padding-left: 1rem;
}

section{
    margin: 2rem 0rem 0rem 0rem;
}
.mobile-mode{
    padding: 1.5rem 1rem 0 1rem;   
}

#raw_code{
    max-height: 20rem;
    overflow-y: scroll;
    border: #000000 solid;
    padding: 1rem;
    background-color: #1c3d53;
}

@media(min-width:550px){
    .mobile-mode{
        display: none;
    }
}

#readable_code{
    max-height: 20rem;
    overflow: scroll;
    border: #000000 solid;
    padding: 1rem;
    background-color: #1c3d53;
}

#bookmark{
    max-height: 20rem;
    overflow: scroll;
    border: #000000 solid;
    padding: 1rem;
    background-color: #1c3d53;
}

Button{
    border: none;
    background-color: #37878a;
    color: #ffffff;
    font-size: 1.5rem;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    
}

button:hover{
    background-color: #37878abc;
}

#copyButton{
    transition: all 0.3s ease-in-out;
    padding: 8px 16px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
  

  
.copied,.copied:hover{
    background-color: #28a745 !important; 
    cursor: not-allowed;
    transition: all 0.3s ease-in-out;
    cursor: not-allowed !important;
}


footer{
    margin: 5rem 1rem 1rem 1rem ;
}