body{background-color: #9e9d9d;}

/* .code{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    width: 80%;
    border-radius: 2px;
    height: 20rem; 
    
} */


#test{
    height: 20rem ;
    width: 20rem;
    overflow:scroll;
    background-color: red;
}
