*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #9e9d9d;

}

main{
    /* display: flex; */
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 5rem;

    
}


#test{
    padding: 1.5rem;
    height: 20rem ;
    max-width: 100%;
    min-width: 10rem;
    overflow-y: scroll;
    background-color: white;
    /* margin-left: 10%;
    margin-right: 10%; */
}

.bookmark{
    /* margin-top: 1rem; */
    background-color: white;
    height: 10rem;
    overflow-y: scroll;
}
label{
    padding-top: 1rem ;
    display: block;
}
